include ./grid.jade

doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/index.css')
		script(src='/vendors/angularjs/angular.min.js')

		block scripts

		block title

	body(ng-app='gifboard')
		block content
