extends ./partials/html.jade

block title
	title= title

block scripts
	script(src='/scripts/upload-controller.js')

block content
	+grid
		.header
			+row
				+col(2, 14)
					.form__wrapper(ng-controller='uploadController')
						form(method='POST', name='upload', novalidate='novalidate', enctype='multipart/form-data', ng-submit='submitForm()')
							label Url upload:
								input(type='url', placeholder='upload url', required='required', ng-model='url')
							button(type='submit', ng-show='{{upload.$valid}}') Upload
